/* ----main page------------------ */
.mainContainer{
  
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
  place-items: center;
  text-align: center;
  background-color: rgb(var(--base-white-rgb)); 
}

.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.outer .below {
  z-index: 1;
 
}
.outer .top {
  z-index: 2;
}

.mainDiv{
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color:   rgb(var(--base-black-rgb));
  border-radius: 1rem;
  width: 90vw;
  z-index: 10;
}

.mainTitle {
margin: 1rem;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap;
}

.loader{
 opacity: 0;
   animation-name: show-loader;
   animation-duration: 1s;
}

@keyframes show-loader {
  0%{ opacity: 0;}
  50%{opacity: 100;}
  100%{opacity: 0;}
}

/* ----Characters------------------ */
.charContainer {
text-align: start;
margin: 1.5rem;
max-width: 60vw;
}

.charSelectText{
  margin-left: 1rem;
}

.charGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
  height:80vh;
  overflow-y:auto;
  overflow-x:hidden;
  padding: 1rem;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
  }

  .charCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 10em;
    height: 10em;
  }

  .img{
    border: 2px solid;
    border-color:   rgb(var(--max-blue-rgb));
    width: 8em;
    height: 8em;
    border-radius: 1rem;
    margin-bottom: .3rem;
  }

  .name{
    width: 70%;
    text-wrap: wrap;
    font-size: 1rem;
    font-weight: 500;
  }

/* -----Episodes---------------- */
.epContainer{
  border: 2px solid;
  border-color:  rgb(var(--base-black-rgb));
  border-radius: 1rem;
  text-align: start;
  padding: 1em;
  height:80vh;
  background-color: var(--rick-hair);
}

.epTitle{
  border-bottom: 2px solid black;
  border-color:  rgb(var(--base-black-rgb));
}

.epList{
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height:73vh;
  gap: 1rem;
}

.epItem{
 background-color: rgb(var(--base-white-rgb));
  font-weight: 500;
  border: 2px solid ; 
  border-color:  rgb(var(--june-bud-rgb));
  border-radius: 1rem;
  margin: .5rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 15vw;
  text-align: start;
}

.special {
  border-color:  rgb(var(--squid-ink-rgb));
  background-color: rgb(var(--june-bud-rgb));
}

.epItem:hover{
  background-color: rgb(var(--max-blue-rgb));
  
} 

.epText{
  font-size: 1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

/* Mobile */
@media (max-width: 700px) {
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
 
}